@font-face {
    font-family: 'Muller';
    src: url('MullerExtraBoldItalic.eot');
    src: url('MullerExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('MullerExtraBoldItalic.woff') format('woff'),
        url('MullerExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Muller';
    src: url('MullerThin.eot');
    src: url('MullerThin.eot?#iefix') format('embedded-opentype'),
        url('MullerThin.woff') format('woff'),
        url('MullerThin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Muller';
    src: url('MullerBlack.eot');
    src: url('MullerBlack.eot?#iefix') format('embedded-opentype'),
        url('MullerBlack.woff') format('woff'),
        url('MullerBlack.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Muller';
    src: url('MullerThinItalic.eot');
    src: url('MullerThinItalic.eot?#iefix') format('embedded-opentype'),
        url('MullerThinItalic.woff') format('woff'),
        url('MullerThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Muller';
    src: url('MullerMedium.eot');
    src: url('MullerMedium.eot?#iefix') format('embedded-opentype'),
        url('MullerMedium.woff') format('woff'),
        url('MullerMedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Muller';
    src: url('MullerBold.eot');
    src: url('MullerBold.eot?#iefix') format('embedded-opentype'),
        url('MullerBold.woff') format('woff'),
        url('MullerBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Muller';
    src: url('MullerExtraBold.eot');
    src: url('MullerExtraBold.eot?#iefix') format('embedded-opentype'),
        url('MullerExtraBold.woff') format('woff'),
        url('MullerExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

