@font-face {
  font-family: 'HKGrotesk';
  src: url('../fonts/hk-grotesk/HKGrotesk-Light.ttf');
}

@font-face {
  font-family: 'League Spartan';
  src: url('../fonts/league-spartan.otf');
  src: url('../fonts/league-spartan.ttf');
}

body {
  background: #272f45;
  width: 100%;
  font-family: 'HKGrotesk', 'Times New Roman', sans-serif;
  transition: color .3s, background .3s;
}

.container {
  max-width: 1160px;
  width: 86%;
  margin: 0 auto 70px;
  color: #92a1a9;
}

a:link,
a:visited {
  color: white;
  text-decoration: none;
  transition-property: color;
  transition-duration: .3s;
}

a:active,
a:hover {
  color: #eec9a2;
  text-decoration: none;
}

header {
  overflow: hidden;
  margin: 65px auto 55px;
}

header img.logo {
  float: left;
  max-width: 294px;
  max-height: 72px;
  opacity: .85;
  transition: ease .2s;
}

header img.logo:hover {
  opacity: 1;
}

header .search {
  float: right;
  color: #92a1a9;
  font-size: 24px;
  margin: 19px 0 0 0;
  opacity: 0.8;
  transition: all .3s;
}

header .search:hover {
  opacity: 1;
}

header .search input {
  border: none;
  border-bottom: 3px solid #63757e;
  background: none;
  width: 175px;
  padding-left: 33px;
  padding-bottom: 3px;
  background: url('../images/search.svg') 0% 40% no-repeat;
  -webkit-background-size: 90%;
  background-size: 23px;
  font-family: 'HKGrotesk', sans-serif;
  color: #92a1a9;
}

::-webkit-input-placeholder {
  color: #92a1a9;
}

::-moz-placeholder {
  color: #92a1a9;
}

:-moz-placeholder {
  color: #92a1a9;
}

:-ms-input-placeholder {
  color: #92a1a9;
}

:focus::-webkit-input-placeholder {
  color: transparent
}

:focus::-moz-placeholder {
  color: transparent
}

:focus:-moz-placeholder {
  color: transparent
}

:focus:-ms-input-placeholder {
  color: transparent
}

main {
  color: white;
}

a.a_action {
  display: inline-block;
  border: 3px solid #eec9a2;
  transition-property: background;
  transition-duration: .3s;
}

a.a_action:hover {
  background: #eec9a2;
  color: white;
}

h1 {
  font-family: 'League Spartan', Arial, serif;
  text-transform: uppercase;
}

.first:hover,
.second:hover,
.third:hover {
  box-shadow: inset 0 0 0 3px #eec9a2;
}

.first {
  display: block;
  width: 100%;
  height: 690px;
  background: url('../images/bg_first.jpg') center center no-repeat;
  background-size: cover;
  position: relative;
  padding: 105px 60px;
  box-sizing: border-box;
  font-size: 32px;
  margin-bottom: 3.5%;
  box-shadow: none;
  transition: all .3s;
}

.first:hover {
  box-shadow: inset 0 0 0 2px #eec9a2;
}

.first img {
  position: absolute;
  right: 37px;
  top: 37px;
}

.first h1 {
  font-size: 80px;
  margin-bottom: 15px;
}

.first p {
  max-width: 400px;
  letter-spacing: 0.5px;
}

.first a.a_action {
  margin-top: 135px;
  font-size: 24px;
  padding: 13px 23px;
  letter-spacing: 0.5px;
}

.block_second {
  overflow: hidden;
  margin-bottom: 3.5%;
}

.second {
  display: block;
  float: left;
  width: 48.25%;
  height: 520px;
  background: url('../images/bg_second_2.jpg') center center no-repeat;
  background-size: cover;
  padding: 0 0 0 30px;
  box-sizing: border-box;
  box-shadow: none;
  transition: all .3s;
}

.second:first-child {
  margin-right: 3.5%;
  background: url('../images/bg_second_1.jpg') center center no-repeat;
  background-size: cover;
  text-align: right;
  padding: 0 30px 0 100px;
}

.second h1 {
  font-size: 48px;
  margin: 60px 0 10px;
}

.second p {
  font-size: 24px;
}

.second a.a_action {
  margin-top: 62px;
}

.second a.a_action,
.third a.a_action {
  font-size: 18px;
  font-family: 'League Spartan', Arial, serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 12px 35px 7px;
}

.block_third {
  overflow: hidden;
}

.third {
  padding-top: 65px;
  display: block;
  float: left;
  width: 31%;
  height: 440px;
  background: url('../images/bg_third_2.jpg') no-repeat;
  background-size: cover;
  box-sizing: border-box;
  margin-right: 3.5%;
  text-align: center;
  margin-bottom: 150px;
  box-shadow: 0;
  transition: all .3s;
}

.third:first-child {
  background: url('../images/bg_third_1.jpg') no-repeat;
  background-size: cover;
}

.third:nth-child(2) {
  padding-top: 260px;
}

.third:last-child {
  background: url('../images/bg_third_3.jpg') no-repeat;
  background-size: cover;
  margin-right: 0;
}

.third p {
  font-size: 16px;
}

.third h1 {
  font-size: 36px;
  margin-top: 15px;
  margin-bottom: 20px;
}

.third:nth-child(2) h1 {
  margin-top: 12px;
}

.third a.a_action {
  padding-right: 14px;
  padding-left: 14px;
}

.newsletter {
  color: #92a1a9;
  text-align: center;
}

.newsletter h2 {
  font-size: 36px;
  margin-bottom: 18px;
}

.newsletter p {
  color: #7f919b;
  font-size: 18px;
  max-width: 800px;
  margin: 0 auto 50px;
}

.newsletter input {
  display: block;
  font-size: 24px;
  border: 3px solid #92a1a9;
  color: #92a1a9;
  width: 360px;
  padding-right: 15px;
  padding-left: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 11px 0;
  margin: 20px auto;
  background: transparent;
  transition: color .3s, background .3s;
  text-align: center;
  font-weight: 400;
}

.newsletter input::-webkit-input-placeholder {
  color: #92a1a9;
  font-weight: 400;
}

.newsletter input::-moz-placeholder {
  color: #92a1a9;
  font-weight: 400;
}

.newsletter input:-moz-placeholder {
  color: #92a1a9;
  font-weight: 400;
}

.newsletter input:-ms-input-placeholder {
  color: #92a1a9;
  font-weight: 400;
}

.newsletter input:focus::-webkit-input-placeholder {
  color: transparent
}

.newsletter input:focus::-moz-placeholder {
  color: transparent
}

.newsletter input:focus:-moz-placeholder {
  color: transparent
}

.newsletter input:focus:-ms-input-placeholder {
  color: transparent
}

.newsletter input:hover {
  background: #92a1a9;
  color: #272f45;
}

.newsletter #btn_sub {
  border: 3px solid #82c9d8;
  font-family: 'League Spartan', Arial, serif;
  text-transform: uppercase;
  color: white;
  letter-spacing: 2.5px;
  font-size: 18px;
  padding: 21px 0 16px;
  margin-bottom: 95px;
  width: 360px;
  background-color: transparent;
  transition: all .3s;
}

.newsletter #btn_sub:hover {
  background: #82c9d8;
  cursor: pointer;
}

footer {
  text-align: center;
}

footer ul {
  margin: 0 auto;
  padding-left: 0;
  list-style-position: inside;
  display: inline-block;
}

footer ul li {
  font-size: 24px;
  float: left;
  padding-left: 20px;
}

footer ul li:first-child {
  list-style-type: none;
  padding-left: 0;
}

footer ul a:link,
footer ul a:visited {
  color: #92a1a9;
  border-bottom: 0;
}

footer p a:last-child {
  text-decoration: none;
}

footer ul li a:hover,
footer p a:hover {
  text-decoration: underline;
}

footer p,
footer p a:link,
footer p a:visited {
  margin-top: 25px;
  color: #7f919b;
  font-size: 18px;
}

@media (max-width: 1040px) {

  .second:first-child {
    padding: 0 20px 0 60px;
  }

  .second:first-child a.a_action {
    margin-top: 33px;
  }

  .third:nth-child(2) {
    padding-top: 240px;
    background-position: center top;
  }

  .third:nth-child(2) h1 {
    margin-bottom: 10px;
  }

  .third:last-child {
    padding-top: 60px;
  }

  .third {
    padding: 45px 10px 0 10px;
    margin-bottom: 70px;
  }
}

@media (max-width: 769px) {
  .container {
    margin-bottom: 30px;
    width: 92.5%;
  }

  header {
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    padding-left: 25px;
    padding-right: 25px;
    width: 100%;
    height: 80px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 1000;
    background: #272f45;
    border-bottom: 2px solid #eec9a2;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  header img {
    height: 50px;
    margin-top: 7.5px;
  }
  
  header img.logo {
    opacity: 1;
  }

  header .search {
    margin-top: 12.5px;
    opacity: 1;
    font-size: 20px;
  }

  .first {
    margin-bottom: 20px;
    margin-top: 130px;
  }

  .first img {
    display: none;
  }

  .first a.a_action {
    margin-top: 90px;
  }

  .second {
    width: 48.5%;
    padding: 0 0 0 20px;
    height: 400px;
  }

  .second:first-child {
    padding: 0 20px 0 30px;
    margin-right: 3%;
  }

  .second a.a_action {
    margin-top: 34px;
  }

  .second:first-child a.a_action {
    margin-top: 10px;
  }

  .second h1 {
    font-size: 30px;
    margin-top: 40px;
  }

  .second p {
    font-size: 20px;
  }

  .block_second {
    margin-bottom: 20px;
  }

  .third {
    width: 31.33%;
    padding: 25px 10px 0 10px;
    margin-bottom: 10%;
    height: 350px;
    margin-right: 3%;
    font-size: 14px;
  }

  .third p {
    font-size: 15px;
  }

  .third h1 {
    font-size: 24px;
  }

  .third:nth-child(2) {
    padding-top: 202.5px;
    background-position: center center;
  }

  .block_third .third:nth-child(2) h1 {
    margin-bottom: 10px;
    font-size: 20px;
  }

  .third:last-child {
    padding-top: 25px;
  }

  .newsletter a#btn_sub {
    margin-bottom: 50px;
  }
  
  footer ul li a:link {
    margin: 0;
  }
  
  footer ul li {
    font-size: 22px;
  }

  a.a_action {
    background: #eec9a2;
    border: 3px solid white;
  }
}

@media (max-width: 600px) {
  main {
    padding-right: 50px;
    padding-left: 50px;
  }

  section > p {
    background: rgba(238, 201, 162, .8);
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  header {
    padding-right: 3.75%;
    padding-left: 3.75%;
  }

  header .search input {
    width: 130px;
  }

  .container section {
    width: 100%;
    margin-bottom: 30px;
    height: 400px;
    text-align: center;
  }

  .container .newsletter {
    height: auto;
  }

  .container section h1 {
    font-size: 36px;
  }

  .container section p {
    font-size: 20px;
  }

  .second:last-child {
    margin-bottom: 15px;
  }

  .block_second {
    margin-bottom: 0;
  }

  .first {
    padding: 80px 20px 0 20px;
  }

  .first a.a_action {
    margin-top: 20px;
  }

  .second,
  .second:first-child {
    padding: 80px 20px 0 20px;
    text-align: center;
  }

  .third,
  .third:last-child {
    padding: 80px 20px 0 20px;
  }

  .third:nth-child(2) {
    padding-top: 225px;
  }

  .newsletter p {
    margin-bottom: 15px;
    background: none;
  }

  .newsletter button#btn_sub {
    margin-bottom: 20px;
  }

  .newsletter input#btn_email,
  .newsletter button#btn_sub {
    width: 100%;
  }

  footer ul li {
    font-size: 16px;
  }

  footer p,
  footer p a:link {
    font-size: 14px;
  }
}

@media (max-width: 475px) {
  main {
    padding-right: 0;
    padding-left: 0;
  }
  
  footer ul li {
    display: block;
    list-style-type: none;
    float: none;
    padding-left: 0;
    margin-bottom: 15px;
  }

  footer ul li a:link {
    margin: 0;
    text-decoration: underline;
  }
}

@media (max-width: 425px) {
  header {
    overflow: visible;
  }
  
  header .search {
    position: relative;
    opacity: 1;
  }
  
  header .search input {
    width: 180px;
    padding-left: 10px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
    position: absolute;
    bottom: -80px;
    background: #272f45;
    opacity: 1;
    right: 0;
    border: 2px solid #eec9a2;
  }
}

@media (max-width: 320px) {
  header img {
    height: 45px;
    margin-top: 10px;
  }
  
  header .search input {
    width: 150px;
  }
}