body {
  overflow-x: hidden;
}

.container {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

.header-img {
  margin-left: 50px;
  margin-right: 50px;
  float: left;
}

.header-h1 {
  font-size: 48px;
}

.header-phone {
  font-size: 32px;
}

.usual-heading {
  font-size: 32px;
}

.size-5 {
  font-size: 24px;
}

.table-m-1 {
  display: none;
}

.table-m-2 {
  display: none;
}


@media screen and (max-width: 769px) {
  .header-img {
    display: block;
    float: none;
    margin: 0 auto;
  }

  .header-h1 {
    font-size: 36px;
  }

  .header-phone {
    font-size: 24px;
  }

  .usual-heading {
    font-size: 24px;
  }

  .size-5 {
    font-size: 18px;
  }
}

@media screen and (max-width: 767px) {
  .table-main {
    display: none;
  }

  .table-m-1 {
    display: table;
    margin-bottom: 20px;
  }

  .table-m-2 {
    display: table;
  }
}

@media screen and (max-width: 425px) {

  .header-h1 {
    font-size: 30px;
  }

  .header-phone {
    font-size: 20px;
  }
}
